#toolbar {
    width: 200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    text-align: center;
}

#modify-tree-tools {
    margin: 0 15px;
    font-weight: bold;
}

#answer-question-tools {
    font-weight: bold;
    text-align: center;
}

#ANSWER_ID {
    font-weight: bold;
    text-align: center;
}

#bst-values {
    width: 705px;
    height: 50px;
    resize: none;
    margin-bottom: 5px;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

canvas {
    background-color: white;
}

button {
    width: 150px;
	border-radius:4px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-size:16px;
    margin: 5px;
	text-decoration:none;
}

#add-root {
    background-color:hsl(136, 63%, 47%);
    /* border:4px solid #18ab29; */
    margin: 5px;
}

#add-root:hover {
	background-color:#0fda2a;
}

#add-root:active {
	position:relative;
}

#remove-node {
    background-color:hsl(12, 71%, 57%);
    /* border:4px solid #a33216; */
    margin: 5px;
}

#remove-node:hover {
	background-color:#f14805;
}

#remove-node:active {
	position:relative;
}

#bst-undo {
    background-color:hsl(12, 71%, 57%);
    /* border:4px solid #a33216; */
    margin: 5px;
}

#bst-undo:hover {
	background-color:#f14805;
}

#bst-undo:active {
	position:relative;
}

#edit-node {
    background-color:hsl(216, 82%, 57%);
    /* border:4px solid #0c2cb9; */
    margin: 5px;
}

#edit-node:hover {
	background-color:#1c6cff;
}

#edit-node:active {
	position:relative;
}

/* Hide number spinners */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


