.toolbar {
    width: 200px;
    height: 600px !important; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    text-align: center;
    float: left;
}

.input {
    text-align: center;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.no-margin {
    margin: 0;
}

.node-value {
    display: block;
    margin: 5px auto;
    width: 160px;
}

.property-input {
    display: block;
    margin: 5px auto;
    width: 100px;
}

.property-section {
    display: block;
    margin: 20px auto;
}

.answer-question-tools {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    float: left;
}

#layout {
    display: inline-flex;
    flex-direction: column;
    max-width: 100%;
}

.ANSWER_ID {
    display: block;
    width: 100% !important;
    height: 50px;
    resize: none;
    margin-bottom: 5px;
    font-size: large;
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width: 1600px) {
    /* .ANSWER_ID {
        margin-bottom: 20px;
    } */
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 5px;
}

.heading-text-alignment {
    width: 80%;
    padding-left: 42%;
    padding-top: 5px;
}

.button-alignment {
    display: flex;
}

.invalid-answer-div {
    display: flex;
    flex-direction: row;
    color: #d43f3a;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.bst-tools {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    float: left;
}

.bst-values {
    width: 705px !important;
    height: 50px;
    resize: none;
    margin-bottom: 5px;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

canvas {
    background-color: white;
}

.button {
    width: 150px;
	cursor: pointer;
	font-family: Arial;
    font-size: .9375rem;
    border: 1px solid transparent;
    border-radius: 0;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 auto;
    padding: 6px 12px;
    text-decoration: none;
    box-shadow: none;
    /* border: none !important; */
}

.button-primary {
	color: #ffffff;
    background-color: #1177d1;
}

.button-primary:hover {
    background-color: #0E63AE;
}

.button-secondary {
    color: #212529;
    background-color: #ced4da;
    border-color: #ced4da;
}

.button-secondary:hover {
    background-color: #b8c1ca;
}

/* .add-root {
    background-color:hsl(136, 63%, 47%);
    margin: 5px;
}

.add-root:hover {
	background-color:#0fda2a;
}

.remove-node {
    background-color:hsl(12, 71%, 57%);
    margin: 5px;
}

.remove-node:hover {
	background-color:#f14805;
}

.bst-undo {
    background-color:hsl(12, 71%, 57%);
    margin: 5px;
}

.bst-undo:hover {
	background-color:#f14805;
}

.edit-node {
    background-color:hsl(216, 82%, 57%);
    margin: 5px;
}

.edit-node:hover {
	background-color:#1c6cff;
}

#insert-bst-value {
    background-color:hsl(136, 63%, 47%);
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#insert-bst-value:hover {
	background-color:#0fda2a;
}

#undo-insert-bst-value {
    background-color:hsl(12, 71%, 57%);
    margin: 5px;
}

#undo-insert-bst-value:hover {
	background-color:#f14805;
}

#invalid-bst-value {
    color: red;
} */

#copy-tree {
    background-color:hsl(137, 3%, 44%);
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#copy-tree:hover {
	background-color:hsl(135, 2%, 53%);
}

#copied {
    color: lightblue;
    font-weight: bold;
}

/* Hide number spinners */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Fade in / out */

.fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.fade-out {
    animation: fadeOut ease 1s;
    -webkit-animation: fadeOut ease 1s;
    -moz-animation: fadeOut ease 1s;
    -o-animation: fadeOut ease 1s;
    -ms-animation: fadeOut ease 1s;
}

@keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}
  
@-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}
  
 @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}
  
@-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}
  
@-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}